//ここから先は編集の必要なし

//サインインと登録部分
.sign_up, .sign_in {
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .contents {
    position: absolute;
    top: 20%;
    left: 55%;
    height: 600px;
    width: 400px;
  }
  h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-family: cursive;
  }
  p {
    font-size: 16px;
  }
  form {
    margin-top: 15px;
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      display: block;
      height: 36px;
      box-sizing: border-box;
      font-size: 16px;
      border: 0;
      padding: 3px 10px;
    }
    .field {
      margin-bottom: 8px;
      border-radius: 3px;
      border: 1px solid #eee;
    }
    button {
      background-color: #ccc;
      display: block;
      color: white;
      border: 1px solid darken(#ccc, 5%);
      border-radius: 3px;
      width: 100%;
      margin-top: 15px;
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        background-color: darken(#ccc, 3%);
      }
    }
  }
  .sign_up_form, .sign_in_form {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  .sign_in_link, .sign_up_link {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    text-align: center;
  }
}





  
  // プロフィール編集部分
.profile_edit {
  background-color: white;
  form {
    padding: 150px;
    label {
      display: inline-block;
      width: 150px;
    }
    input[type="text"] {
      width: 500px;
      height: 30px;
      font-size: 15px;
      padding: 8px;
    }
    input[type="password"] {
      width: 500px;
      height: 30px;
      font-size: 15px;
      padding: 8px;
    }
    textarea {
      width: 500px;
      height: 30px;
      padding: 8px;
      border: 1px solid #ccc;
    }
  }
  .field {
    margin-bottom: 15px;
  }
  .button_wrap {
    text-align: center;
  }
  .button {
    background-color: #0097EF;
    color: white;
    border: 1px solid darken(#0097EF, 3%);
    border-radius: 3px;
    font-size: 13px;
    padding: 8px 12px;
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}


  // プロフィール部分
  .profile {
    width:500px;
    margin-top: 100px;
    margin-left: 100px;
    padding-top: 60px;
    padding: 60px 40px 40px;
    display: flex;
    .image {
      width: 200px;
      margin-right: 50px;
      >div {
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }
    }
  }
  
  //サイドメニュー部分
  .side_menu{
    width:150px;
    height:300px;
    border: 3px solid black;
    #display:flex;
    margin-left:auto;
    margin-right: 200px;
    margin-top: 100px;
    padding-right: 100px;
  }


