.ask-contacts {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  form {
    text-align: right;
    textarea {
      width: 100%;
      height: 120px;
      border: 1px solid #eee;
      font-size: 15px;
      resize: none;
      box-sizing: border-box;
      padding: 5px 0 5px 5px;
      margin: 0;
    }
    input[type="text"] {
      max-width: 100%;
      min-width: 100%;
      box-sizing: border-box;
      margin-right: 5px;
      height: 30px;
      border: 1px solid #eee;
      padding: 5px 0 5px 5px;
      margin-bottom: 8px;
      display: block;
      font-size: 15px;
    }
    input[type="submit"] {
      background-color: skyblue;
      color: white;
      border: 1px solid darken(skyblue, 5%);
      padding: 5px 8px;
      opacity: 0.8;
      cursor: pointer;
      width: 100px;
      &:hover {
        opacity: 1;
      }
    }
    .textarea-wrap {
      margin-bottom: 10px;
    }
  }
}
.errors {
  color: red;
}
