<div class="side_menu">
    <ul>
        <form class="search">
        <!--キーワード検索-->
        <li>
          　 <!-- 検索フォーム -->
          　 <p>検索ワード</p>
             <input type="text" placeholder="検索ワードを入力" name="word" value="">
            
        </li>
        
        <!--カテゴリー検索-->
        <li>
          <%#= f.label "カテゴリー" %>
          <%#= f.collection_select :category_id,@categories,:id,:name%>
          
            <%= form_tag item_list_path, :method => 'get' do %>
                <%= select_tag :category_id, options_for_select([["カテゴリー選択してください。", nil]] + Category.all.collect {|x| [x.name, x.id]}),{} %>
        </li>
        
        <!--価格検索-->
        <p>価格検索</p>
            <input type="text" placeholder="lowest" name="lowest" value="">
            <input type="text" placeholder="highest" name="highest" value="">
        <li>
        </li>
        <!--並び替え順-->
        <p>並び替え</p>
        <%#= select_tag :sort, [ ["",0],["値段の高い順", 1], ["値段の低い順", 2],["出品の新しい順", 3],["出品の古い順", 4] ] %>
        <%= select_tag(:sort, options_for_select([ ["",0],["値段の高い順", 1], ["値段の低い順", 2],["出品の新しい順", 3],["出品の古い順", 4] ])) %>
        <li>

        </li>
        <input type="submit" name="submit" value="検索">
        <%end%>
        </form>
    </ul>
</div>
 